@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    background-color: #c9e3fb;
    padding: 1rem;
    position: fixed;
    z-index: 1000
}

.navLinks {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.navLinks li {
    margin: 0;
}

.navLinks a {
    color: #070505;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navLinks a:hover {
    background-color: #9ca49f;
}